$font_Pattaya: "Pattaya", sans-serif;

$colors: (
    1: #333,
    2: #ffe,
    3: #f2f0f1,
    4: #f5b149,
);
@function color($color-name: 1) {
    @if map-has-key($colors, $color-name) {
        @return map-get($colors, $color-name);
    } @else {
        @return red;
    }
}

$font_Sizes: (
    xl: 3rem,
    lg: 2.4rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem,
);

@function size($size: 1.6rem) {
    @if map-has-key($font_Sizes, $size) {
        @return map-get($font_Sizes, $size);
    } @else {
        @return 1.6rem;
    }
}

a {
    color: black;
    text-decoration: none;
}
