.heading {
    grid-column: 1 /-1;
    @include responsive(lg) {
        &_text {
            font-size: size(xl) * 1.5 !important;
        }
    }
    &_text {
        font-family: $font_Pattaya;
        text-align: center;
        font-size: size(xl) * 2;
        font-weight: 800;
    }
}
