.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1rem;
    display: flex;

    .logo_img {
        width: 90%;
        margin: auto;
    }
    @include responsive(xl) {
        grid-column: 1/3;
    }
}
